p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #26211F;
}

div {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.top {
    width: 100%;
}

.header {
    width: 100%;
    height: 10rem;
    background-image: url("images/header.jpg");
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navigation {
    width: 100%;
    height: 2rem;
    outline-color: #66452A;
    outline-offset: -2px;
    outline-style: groove;
    background-image: linear-gradient(to right, #9E8241, #CCBA7A, #91691F);
}

.main {
    display: flex;
    flex-direction: row;
}

.content {
    background-color: white;
    width: 70%;
}

.sidebar {
    width: 30%;
}

.footer {
    background-color: #9E8241;
    width: 100%;
}