.wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 30rem;
    border-style: dashed;
}

.header {
    margin-right: auto;
    margin-left: auto;
    width: 30rem;
    border-style: dashed;
}

.content {
    margin-right: auto;
    margin-left: auto;
    width: 30rem;
    border-style: dashed;
}

.sidebar {
    margin-right: auto;
    margin-left: auto;
    width: 30rem;
    border-style: dashed;
}